body {
    background-color: #70CF51;
    font-family: Arial, Helvetica, sans-serif;
    overflow:hidden;
    margin:0px; padding:0px;
}

body * {
    position: absolute;
    display: block;
    margin:0px; padding:0px;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

ui {
  font-size: 2em;
  color: white;
  text-shadow: 2px 2px black;
}

fish {
    background-image: url(../images/fish.png);
    width:130px; height: 110px;
    
    /* kleur variatie met css */
    -webkit-filter: hue-rotate(90deg);
    filter: hue-rotate(90deg);
    
    /* animatie met css */
    animation: fishanimation 4s ease-in-out infinite alternate;
}

bubble {
    background-image: url(../images/bubble.png);
    width:55px; height: 55px;
    animation: bubbleup 3s linear infinite;
}

background {
    background-image: url(../images/water.jpg);
    width:100%; height: 100%;
    background-size: cover;
}

#infoText{
  font-size: 3em;
  color: white;
  text-shadow: 3px 3px darkgray;
  
  top: 50vh;
  width: 100%;
  text-align:  center;
}
#clickArea {
  width: 100%;
  height: 100%;
}

@keyframes fishanimation {
  0% {
    transform: translateY(20px);
  }
  
  100% {
    transform: translateY(80px);
  }
}

@keyframes bubbleup {
  0% {
    transform: translateY(100vh);
  }
  
  100% {
    transform: translateY(0vh);
  }
}